<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <CrmServiceUriString>http://servername/orgname/XRMServices/2011/Organization.svc</CrmServiceUriString>
  </properties>
  <components>
    <component id="CrmRepo"
               service="DataAccess.Abstract.ICrmRepository, DataAccess"
               type="DataAccess.Concrete.CrmRepository, DataAccess"
               lifestyle="Transient">
      <parameters>
        <serviceUriString>#{CrmServiceUriString}</serviceUriString>
      </parameters>
    </component>
    <component id="ApplicationsJob"
               service="CrmConsoleApp.Interfaces.IApplicationsJob, CrmConsoleApp"
               type="CrmConsoleApp.Jobs.ApplicationsJob, CrmConsoleApp"
               lifestyle="Transient">
      <parameters>
        <jobName>Импорт</jobName>
        <active>true</active>
      </parameters>
    </component>
  </components>
</configuration>
